.compose{
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    top: 60vh;
    right: 0;
    bottom: 0;
    width: 30%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
}

.compose h2{
    background: white;
    margin-top: 0;
    border: 1px grey solid;
    border-radius: 6px;
}

.compose button{
    margin: 0 5px 5px 5px;
}

.compose table{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}